<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.romanvytv.targetalarm2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_48dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AlarmActivity"
            android:label="@string/app_name"
            android:showOnLockScreen="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />


        <service
            android:name=".GeofenceTransitionsIntentService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDETrHcdRXps3CRSfaJ3UQoZ_X60w2JdSA" />

    </application>

</manifest>
